<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AuthWebServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="AuthWebServiceSoap1" />
        <binding name="ManufacturerWebServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ManufacturerWebServiceSoap1" />
        <binding name="DistributorWebServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="DistributorWebServiceSoap1" />
        <binding name="SellerServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="SellerServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44345/AuthWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="AuthWebServiceSoap"
        contract="AuthServiceReference.AuthWebServiceSoap" name="AuthWebServiceSoap" />
      <endpoint address="https://localhost:44345/ManufacturerWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ManufacturerWebServiceSoap"
        contract="ManufacturerServiceReference.ManufacturerWebServiceSoap"
        name="ManufacturerWebServiceSoap" />
      <endpoint address="https://localhost:44345/DistributorWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="DistributorWebServiceSoap"
        contract="DistributorServiceReference.DistributorWebServiceSoap"
        name="DistributorWebServiceSoap" />
      <endpoint address="https://localhost:44345/SellerService.asmx"
        binding="basicHttpBinding" bindingConfiguration="SellerServiceSoap"
        contract="SellerServiceReference.SellerServiceSoap" name="SellerServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>